<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Главная</title>
    <link href="media/style.css" rel="stylesheet">
</head>
<body>
    <div class="container_center">
        <h1>Ранее заполненные формы</h1>
        <ul id="list"></ul>
        <a href="/comment" class="buttonMain fixButton">Заполнить форму</a>
        <a href="/view" class="buttonMain fixButton">Глянуть комментарии</a>
        <a href="/stat" class="buttonMain fixButton">Посмотреть статистику</a>
    </div>
    <script src="media/index.js"></script>
</body>
</html>