<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Статистика коментариев городов</title>
    <link href="media/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container_city">
            <table id="tableCity">
                <tr>
                    <td>Город</td>
                    <td>Количество комментариев</td>
                </tr>
            </table>
            <a href="/" class="buttonMain buttonView">На главную</a>
        </div>
    </div>
    <script src="media/stat_city.js"></script>
</body>
</html>